<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>watts</title>
    <link rel="stylesheet" href="%% url_for('static',filename='css/header.css') %%">
    <link rel="stylesheet" href="%% url_for('static',filename='css/general.css') %%">
    <link href="https://fonts.googleapis.com/css?family=Reem+Kufi" rel="stylesheet">
</head>

<body>
    <header class="menu-header">
        <div class="menu-wrapper disable-select">
        <a href="/" class="menu-logo">watts chain</a>
        <div id="menu-main" onclick="myFunction()">
            <span class="menu-main-button mobile"><i></i><i></i><i></i></span>
            <nav class="menu-nav menu-main-nav">
                <div class="menu-nav-container">
                    <ul class="menu-list">
                        <li class="menu-list-item"><a href="#inventory" class="menu-list-anchor">Browse</a></li>
                        <li class="menu-list-item"><a href="#machining" class="menu-list-anchor">Machining</a></li>
                        <li class="menu-list-item"><a href="#about-us" class="menu-list-anchor">About Us</a></li>
                        <li class="menu-list-item"><a href="#how-to" class="menu-list-anchor">How it works</a></li>
                    </ul>
                </div>
            </nav>
            <a href="/contact" class="menu-cta">Contact Us</a>
        </div>

        <hr class="fallback">
        </div>
    </header>
    <div id="content">
        <div class="main-hero">
            
            <img
                class="lazy-load main-hero-background u-hide-mobile"
                alt='Temp Pic'
                src="/static/images/temp.jpg"
            />
            
            <div class="main-hero-overlay">
            <div class="main-hero-panel">
                <div class="row">
                        <div class="col">
                            <div v-if="!walletLoading">
                                <button class="btn btn-primary" @click="onCreateWallet">
                                    create new wallet
                                </button>
                                <button class="btn btn-primary" @click="onLoadWallet">
                                    load wallet
                                </button>
                            </div>
    
                            <div v-if="walletLoading" class="lds-ring">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                        <div class="col text-right">
                            <h2>Funds: {{ funds.toFixed(2) }}</h2>
                        </div>
                    </div>
                    <hr>
                    <div v-if="!wallet" class="row">
                        <div class="col">
                            <div class="alert alert-warning">Create a Wallet to start sending coins or to mine coins!</div>
                        </div>
                    </div>
                    <div v-if="wallet" class="row">
                        <div class="col">
                            <form @submit.prevent="onSendTx">
                                <div class="form-group">
                                    <label for="recipient">Recipient Key</label>
                                    <input v-model="outgoingTx.recipient" type="text" class="form-control" id="recipient" placeholder="Enter key">
                                </div>
                                <div class="form-group">
                                    <label for="amount">Amount of Coins</label>
                                    <input v-model.number="outgoingTx.amount" type="number" step="0.001" class="form-control" id="amount">
                                    <small class="form-text text-muted">Fractions are possible (e.g. 5.67)</small>
                                </div>
                                <div v-if="txLoading" class="lds-ring">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <button :disabled="txLoading || outgoingTx.recipient.trim() === '' || outgoingTx.amount <= 0" type="submit" class="btn btn-primary">Send</button>
                            </form>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <ul class="nav-items">
                                <li class="nav-item">
                                    <a class="nav-link" :class="{active: view === 'chain'}" href="#" @click="view = 'chain'">Blockchain</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" :class="{active: view === 'tx'}" href="#" @click="view = 'tx'">Open Transactions</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-primary" @click="onLoadData">{{ view === 'chain' ? 'Load Blockchain' : 'Load Transactions' }}</button>
                            <button v-if="view === 'chain' && wallet" class="btn btn-success" @click="onMine">Mine Coins</button>
                            <button class="btn btn-warning" @click="onResolve">Resolve Conflicts</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div v-if="dataLoading" class="lds-ring">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <div v-if="!dataLoading" class="accordion">
                                <div class="card" v-for="(data, index) in loadedData">
                                    <div v-if="view === 'chain'" class="card-header">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" type="button" @click="showElement === index ? showElement = null : showElement = index">
                                                Block #{{ data.index }}
                                            </button>
                                        </h5>
                                    </div>
                                    <div v-if="view === 'chain'" class="collapse" :class="{show: showElement === index}">
                                        <div class="card-body">
                                            <p>Previous Hash: {{ data.previous_hash }}</p>
                                            <div class="list-group">
                                                <div v-for="tx in data.transactions" class="list-group-item flex-column align-items-start">
                                                    <div>Sender: {{ tx.sender }}</div>
                                                    <div>Recipient: {{ tx.recipient }}</div>
                                                    <div>Amount: {{ tx.amount }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div v-if="view === 'tx'" class="card-header">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" type="button" @click="showElement === index ? showElement = null : showElement = index">
                                                Transaction #{{ index }}
                                            </button>
                                        </h5>
                                    </div>
                                    <div v-if="view === 'tx'" class="collapse" :class="{show: showElement === index}">
                                        <div class="card-body">
                                            <div class="list-group">
                                                <div class="list-group-item flex-column align-items-start">
                                                    <div>Sender: {{ data.sender }}</div>
                                                    <div>Recipient: {{ data.recipient }}</div>
                                                    <div>Amount: {{ data.amount }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
            </div>
        </div>
        <div class="container">
        <div class="section">
        <div class="content-text">

        </div>
        </div>
        </div>
        </div>
        
    </div>
    
    <script src="%% url_for('static',filename='js/helper.js') %%""></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="%% url_for('static',filename='js/vue.js') %%""></script>
</body>

</html>